BODY {
  font: 16px/1.4 "Trebuchet MS", Arial, sans-serif;
  color: #000;
}

A {
  color: steelblue;
}

H1 {
  font: 2em/1.4 Georgia, serif;
  text-align: center;
  }

H2 {
  margin: 0;
  margin-bottom: .15em;
  font: 1.75em/1.4 Georgia, serif;
  }

H4 {
  margin: 0;
  margin-bottom: .15em;
  font: 1.3em/1.4 Georgia, serif;
  }

P {
  margin: 1.2rem 0;
  }

TEXTAREA {
  width: 100%;
  height: 150px;
  margin: 0;
  padding: .5em;
  border: 1px solid #CCC;
  border-radius: 8px;
  font-size: 13px;
  font-family: monospace;
  }

CODE {
  padding: 0 3px;
  background: #EEE;
  border-radius: 5px;
  text-shadow: 1px 1px 0 white;
  font: 14px/1.4 monospace;
  color: #333;
  }

.hidden {
  display: none;
  }

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 650px;
  margin: 1.5rem auto 4rem;
  }

.header {
  position: relative;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #CCC;
}

.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  padding-top: 2rem;
  border-top: 1px solid #CCC;
}

.examples__control {
  width: 50px;
  height: 50px;
  margin: 4px;
  padding: 4px;
  background: #FFF;
  border: 1px solid #CCC;
  border-radius: 8px;
}

.examples__control:focus {
  outline: none;
  box-shadow: 0 0 0 2px yellowgreen;
  border-color: yellowgreen;
}

.examples__control svg {
  width: 100%;
  height: 100%;
}

.demos {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.demos svg {
  width: 300px;
  height: 300px;
  outline: 1px solid #CCC;
}

.demos__svg-container {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

.demos__item {
  width: 48%;
}

.demo {
  width: 300px;
  height: 300px;
}
.demo--before {
  background: gold;
  clip-path: url(#clip-path-before);
}
.demo--after {
  background: yellowgreen;
  clip-path: url(#clip-path-after);
}

.options {
  position: relative;
}

.options__middle-word {
  vertical-align: middle;
  color: #AAA
}

.options__text {
  display: inline-block;
  border-bottom: 1px dashed;
  color: steelblue;
  cursor: pointer;
}
.options__input:checked + .options__text {
  border: 0;
  color: inherit;
  cursor: default;
}

.expander {
  position: relative;
  z-index: 2;
}

.expanded {
  position: absolute;
  top: -15px;
  right: -15px;
  left: -15px;
  padding: 2rem 1.5rem 1rem;
  background: #FFF;
  border: 1px solid #CCC;
  border-radius: 5px;
  box-shadow: 0 0 0 5px rgba(0,0,0,.1);
}

.button-example {
  padding: 0;
  border: 0;
  border-bottom: 1px dashed;
  line-height: 1;
  align-self: center;
  font: inherit;
  font-size: 14px;
  color: steelblue;
  cursor: pointer;
}

.containers {
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }

.container {
  position: relative;
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }
